ul {
    border: 2px solid white;
    border-radius: 3px;
    height: 50px;
    padding: 20px;
    width: 60%;

    list-style-type: none;
}

li {
    color: white;
}

h3 {
    color: white;
}

.group-users-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
