.movie-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    text-decoration: none !important;
}

.movie {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    transition-duration: 0.4s;
    border-radius: 8px;
    padding: 20px;

    &.poster {
        width: 200px;
        height: 300px;
    }
}
