button {
    display: block;
    width: 200px;
    &.narrow {
        width: 100px;
    }

    &.disabled {
        opacity: 0.5;
        cursor: default;
        color: white;
    }

    text-align: center;
    display: inline;
    border-radius: 3px;
    padding: 0.5rem;
    margin-left: 8px;
    margin-right: 8px;
    transition-duration: 0.4s;
    text-decoration: none;
    height: max-content;
    
    &.yellow {
        background: transparent;
        background-color: #a3d9ff;
        color: white;
        border: 2px solid #e5a00d;
        background-color: #e5a00d;

        &:hover {
            background: transparent;
            color: #e5a00d;
            border: 2px solid #e5a00d;
            cursor: pointer;
            opacity: 0.8;
        }
    }

    &.red {
        background: transparent;
        background-color: #a3d9ff;
        color: white;
        border: 2px solid rgb(215, 97, 97);
        background-color: rgb(215, 97, 97);

        &:hover {
            background: transparent;
            color: rgb(215, 97, 97);
            border: 2px solid rgb(215, 97, 97);
            cursor: pointer;
            opacity: 0.8;
        }
    }

    &.blue {
        background: transparent;
        background-color: #a3d9ff;
        color: white;
        border: 2px solid rgb(93, 93, 223);
        background-color: rgb(93, 93, 223);
        
        &:hover {
            background: transparent;
            color: rgb(93, 93, 223);
            border: 2px solid rgb(93, 93, 223);
            cursor: pointer;
            opacity: 0.8;
        }
    }
}
