
input {
    border-radius: 3px;
    width: 200px;
    background: transparent;
    color: white;
    /* border: 1px solid rgb(215, 97, 97); */
    padding: 4px;

    &.blue {
        border: 3px solid rgb(93, 93, 223);
    }
    
    &.red {
        border: 3px solid rgb(215, 97, 97);
    }
}
